  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .orange {
    color: #ee9b00;
  }
  .page-title {
    color: #94d2bd;
  }

  /* HERO BANNER */
  .hero {
    background-image: url('src/assets/background.jpeg');
    background-size: cover;
    padding: 10%;
    color: #005F73;
    font-size: 48px;
  }
  
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(27, 85, 209, 0.3);
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
  }
  .card-img-overlay:hover {
    opacity: 1;
  }
  .card-img-overlay a {
    color: white;
    text-decoration: none;
  }
  .card-img-overlay a:hover {
    color: #e9d8a6;
  }
  .card-title {
    display: flex;
    align-items: center;
  }